<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpUser" value="elelqamawi.sharon@gmail.com" />
    <add key="SmtpPass" value="julana137" />
    <add key="SmtpFromName" value="ClinicVets" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

</configuration>